openapi: "3.0.3"
info:
  title: Graylayer Market Proxy API
  version: "1.0"
  description: >
    OpenAPI specification authored from Graylayer documentation at
    https://docs.graylayer.tech/api-reference/introduction for use in
    schema-guided fuzz testing. Graylayer does not publish a machine-readable
    spec; this file was derived manually as a project artifact.

servers:
  - url: https://gateway.graylayer.tech
    description: Graylayer Market Gateway (production, per docs)

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }

    Market:
      type: object
      properties:
        id:       { type: string }
        question: { type: string }
        active:   { type: boolean }
        closed:   { type: boolean }

    Event:
      type: object
      properties:
        id:     { type: string }
        title:  { type: string }
        active: { type: boolean }

    Tag:
      type: object
      properties:
        id:    { type: string }
        label: { type: string }
        slug:  { type: string }

security:
  - ApiKeyAuth: []

paths:

  # ── Health ────────────────────────────────────────────────────────────────
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      security: []
      tags: [health]
      responses:
        "200": { description: Service is healthy }

  # ── Coinbase (public, no auth) ────────────────────────────────────────────
  /api/v1/coinbase/products:
    get:
      summary: List Coinbase trading pairs
      operationId: coinbaseListProducts
      tags: [coinbase]
      security: []
      responses:
        "200": { description: List of products }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { description: Rate limit exceeded }
        "502": { description: Upstream error }

  /api/v1/coinbase/products/{product_id}:
    get:
      summary: Get a single Coinbase product
      operationId: coinbaseGetProduct
      tags: [coinbase]
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema: { type: string, example: BTC-USD }
      responses:
        "200": { description: Product details }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/coinbase/products/{product_id}/ticker:
    get:
      summary: Get current ticker for a Coinbase product
      operationId: coinbaseGetTicker
      tags: [coinbase]
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema: { type: string, example: BTC-USD }
      responses:
        "200": { description: Ticker data }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/coinbase/products/{product_id}/book:
    get:
      summary: Get order book for a Coinbase product
      operationId: coinbaseGetBook
      tags: [coinbase]
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema: { type: string, example: BTC-USD }
        - name: level
          in: query
          required: false
          schema: { type: integer, enum: [2], default: 2 }
      responses:
        "200": { description: Order book }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/coinbase/products/{product_id}/trades:
    get:
      summary: Get recent trades for a Coinbase product
      operationId: coinbaseGetTrades
      tags: [coinbase]
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema: { type: string, example: BTC-USD }
      responses:
        "200": { description: Recent trades }
        "502": { description: Upstream error }

  /api/v1/coinbase/products/{product_id}/candles:
    get:
      summary: Get OHLCV candles for a Coinbase product
      operationId: coinbaseGetCandles
      tags: [coinbase]
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema: { type: string, example: BTC-USD }
        - name: granularity
          in: query
          schema: { type: integer, enum: [60, 300, 900, 3600, 21600, 86400] }
        - name: start
          in: query
          schema: { type: string, format: date-time }
        - name: end
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200": { description: Candle data }
        "400": { description: Invalid parameters }
        "502": { description: Upstream error }

  /api/v1/coinbase/currencies:
    get:
      summary: List Coinbase currencies
      operationId: coinbaseListCurrencies
      tags: [coinbase]
      security: []
      responses:
        "200": { description: Currency list }
        "502": { description: Upstream error }

  /api/v1/coinbase/time:
    get:
      summary: Get Coinbase server time
      operationId: coinbaseGetTime
      tags: [coinbase]
      security: []
      responses:
        "200": { description: Server time }

  # ── Polymarket Gamma ──────────────────────────────────────────────────────
  # ── Polymarket US (gateway proxy of Polymarket's US public API) ──────────
  # Per docs: platform key is `polymarket-us`. There is NO CLOB platform on
  # this server (gateway returns "Unknown platform: polymarket-us-clob").

  /api/v1/polymarket-us/events:
    get:
      summary: List Polymarket-US events
      operationId: polymarketUsListEvents
      tags: [polymarket-us]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: active
          in: query
          schema: { type: boolean }
        - name: closed
          in: query
          schema: { type: boolean }
        - name: archived
          in: query
          schema: { type: boolean }
        - name: featured
          in: query
          schema: { type: boolean }
        - name: live
          in: query
          schema: { type: boolean }
        - name: slug
          in: query
          schema: { type: string }
        - name: tagSlug
          in: query
          schema: { type: string }
        - name: category
          in: query
          schema: { type: string }
        - name: seriesId
          in: query
          schema: { type: string }
        - name: orderBy
          in: query
          schema: { type: string }
        - name: orderDirection
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        "200": { description: Event list }
        "401": { description: Unauthorized }
        "502": { description: Upstream error }

  /api/v1/polymarket-us/events/{id}:
    get:
      summary: Get a Polymarket-US event by ID or slug
      operationId: polymarketUsGetEvent
      tags: [polymarket-us]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Event detail }
        "404": { description: Not found }

  /api/v1/polymarket-us/partners/events/{externalId}:
    get:
      summary: Get a Polymarket-US event by partner external ID
      operationId: polymarketUsGetEventByExternalId
      tags: [polymarket-us]
      parameters:
        - name: externalId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Event detail }
        "404": { description: Not found }

  /api/v1/polymarket-us/markets:
    get:
      summary: List Polymarket-US markets
      operationId: polymarketUsListMarkets
      tags: [polymarket-us]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: active
          in: query
          schema: { type: boolean }
        - name: closed
          in: query
          schema: { type: boolean }
        - name: category
          in: query
          schema: { type: string }
        - name: seriesId
          in: query
          schema: { type: string }
        - name: orderBy
          in: query
          schema: { type: string }
        - name: orderDirection
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        "200": { description: Market list }
        "401": { description: Unauthorized }
        "502": { description: Upstream error }

  /api/v1/polymarket-us/markets/{id}:
    get:
      summary: Get a Polymarket-US market by ID or slug
      operationId: polymarketUsGetMarket
      tags: [polymarket-us]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Market detail }
        "404": { description: Not found }

  /api/v1/polymarket-us/markets/{slug}/bbo:
    get:
      summary: Get best bid/offer for a Polymarket-US market
      operationId: polymarketUsGetMarketBbo
      tags: [polymarket-us]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: BBO + market stats }
        "404": { description: Not found }

  /api/v1/polymarket-us/markets/{slug}/book:
    get:
      summary: Get full order book for a Polymarket-US market
      operationId: polymarketUsGetMarketBook
      tags: [polymarket-us]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Order book }
        "404": { description: Not found }

  /api/v1/polymarket-us/markets/{slug}/settlement:
    get:
      summary: Get settlement price for a resolved Polymarket-US market
      operationId: polymarketUsGetMarketSettlement
      tags: [polymarket-us]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Settlement price }
        "404": { description: Not found }

  /api/v1/polymarket-us/series:
    get:
      summary: List Polymarket-US series
      operationId: polymarketUsListSeries
      tags: [polymarket-us]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        "200": { description: Series list }
        "502": { description: Upstream error }

  /api/v1/polymarket-us/series/{id}:
    get:
      summary: Get a Polymarket-US series by ID or slug
      operationId: polymarketUsGetSeries
      tags: [polymarket-us]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Series detail }
        "404": { description: Not found }

  /api/v1/polymarket-us/sports:
    get:
      summary: List Polymarket-US sports
      operationId: polymarketUsListSports
      tags: [polymarket-us]
      responses:
        "200": { description: Sports list }
        "502": { description: Upstream error }

  /api/v1/polymarket-us/sports/{slug}/events:
    get:
      summary: Polymarket-US sports events by sport slug (legacy)
      operationId: polymarketUsSportsEventsBySlug
      tags: [polymarket-us]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Sports events }
        "404": { description: Not found }

  /api/v1/polymarket-us/sports/leagues/{slug}/events:
    get:
      summary: Polymarket-US events by league slug
      operationId: polymarketUsSportsEventsByLeague
      tags: [polymarket-us]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Sports events }
        "404": { description: Not found }

  /api/v1/polymarket-us/sports/teams:
    get:
      summary: List Polymarket-US sports teams
      operationId: polymarketUsSportsTeams
      tags: [polymarket-us]
      responses:
        "200": { description: Teams list }
        "502": { description: Upstream error }

  /api/v1/polymarket-us/sports/teams/{provider}:
    get:
      summary: List Polymarket-US sports teams for a provider
      operationId: polymarketUsSportsTeamsByProvider
      tags: [polymarket-us]
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Teams list }
        "404": { description: Not found }

  /api/v1/polymarket-us/search:
    get:
      summary: Full-text search across Polymarket-US events and markets
      operationId: polymarketUsSearch
      tags: [polymarket-us]
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1, maxLength: 200 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        "200": { description: Search results }
        "400": { description: Missing or invalid query }

  # ── Kalshi ────────────────────────────────────────────────────────────────
  /api/v1/kalshi/exchange/status:
    get:
      summary: Get Kalshi exchange status
      operationId: kalshiGetExchangeStatus
      tags: [kalshi]
      responses:
        "200": { description: Exchange status }
        "502": { description: Upstream error }

  /api/v1/kalshi/markets:
    get:
      summary: List Kalshi markets
      operationId: kalshiListMarkets
      tags: [kalshi]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: cursor
          in: query
          schema: { type: string }
        - name: event_ticker
          in: query
          schema: { type: string }
        - name: series_ticker
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [open, closed, settled] }
        - name: min_close_ts
          in: query
          schema: { type: integer, format: int64 }
        - name: max_close_ts
          in: query
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: Market list }
        "400": { description: Bad request }
        "401": { description: Unauthorized }
        "502": { description: Upstream error }

  /api/v1/kalshi/markets/{market_id}:
    get:
      summary: Get a Kalshi market by ID
      operationId: kalshiGetMarket
      tags: [kalshi]
      parameters:
        - name: market_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Market detail }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/kalshi/markets/{market_id}/orderbook:
    get:
      summary: Get Kalshi market order book
      operationId: kalshiGetOrderbook
      tags: [kalshi]
      parameters:
        - name: market_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Order book }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/kalshi/markets/trades:
    get:
      summary: Get Kalshi trades
      operationId: kalshiGetTrades
      tags: [kalshi]
      responses:
        "200": { description: Trade list }
        "502": { description: Upstream error }

  /api/v1/kalshi/events:
    get:
      summary: List Kalshi events
      operationId: kalshiListEvents
      tags: [kalshi]
      responses:
        "200": { description: Event list }
        "502": { description: Upstream error }

  /api/v1/kalshi/events/{event_ticker}:
    get:
      summary: Get a Kalshi event by ticker
      operationId: kalshiGetEvent
      tags: [kalshi]
      parameters:
        - name: event_ticker
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Event detail }
        "404": { description: Not found }

  /api/v1/kalshi/series:
    get:
      summary: List Kalshi series
      operationId: kalshiListSeries
      tags: [kalshi]
      responses:
        "200": { description: Series list }
        "502": { description: Upstream error }

  # ── Gemini ────────────────────────────────────────────────────────────────
  /api/v1/gemini/v1/prediction-markets/categories:
    get:
      summary: List Gemini prediction market categories
      operationId: geminiListCategories
      tags: [gemini]
      responses:
        "200": { description: Category list }
        "502": { description: Upstream error }

  /api/v1/gemini/v1/prediction-markets/events:
    get:
      summary: List Gemini prediction market events
      operationId: geminiListEvents
      tags: [gemini]
      responses:
        "200": { description: Event list }
        "502": { description: Upstream error }

  /api/v1/gemini/v1/prediction-markets/events/{ticker}:
    get:
      summary: Get a Gemini event by ticker
      operationId: geminiGetEvent
      tags: [gemini]
      parameters:
        - name: ticker
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Event detail }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/gemini/v1/book/{symbol}:
    get:
      summary: Get Gemini order book
      operationId: geminiGetBook
      tags: [gemini]
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string, example: BTCUSD }
      responses:
        "200": { description: Order book }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/gemini/v1/trades/{symbol}:
    get:
      summary: Get recent Gemini trades
      operationId: geminiGetTrades
      tags: [gemini]
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string, example: BTCUSD }
        - name: limit_trades
          in: query
          schema: { type: integer, minimum: 1, maximum: 500 }
        - name: since
          in: query
          schema: { type: integer, format: int64 }
      responses:
        "200": { description: Trade list }
        "404": { description: Not found }
        "502": { description: Upstream error }

  /api/v1/gemini/v2/ticker/{symbol}:
    get:
      summary: Get Gemini ticker
      operationId: geminiGetTicker
      tags: [gemini]
      parameters:
        - name: symbol
          in: path
          required: true
          schema: { type: string, example: BTCUSD }
      responses:
        "200": { description: Ticker data }
        "404": { description: Not found }

  # ── Forecastex ────────────────────────────────────────────────────────────
  /api/v1/forecastex/contracts:
    get:
      summary: List Forecastex contracts
      operationId: forecastexListContracts
      tags: [forecastex]
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: sortBy
          in: query
          schema: { type: string }
        - name: sortOrder
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        "200": { description: Contract list }
        "400": { description: Bad request }
        "502": { description: Upstream error }
